<app-login-header></app-login-header>
<div class="welcome-msg">
  <p class="welcome-text">
    Welcome to <b>Rewards.hr</b>
  </p>
  <p class="welcome-text2">
    Let's start by entering the name of your company
  </p>
</div>

<div class="signup-field">
  <div class="col-md-6 pull-left">
    <input type="text" name="company" placeholder="Company name">
  </div>
  <div class="col-md-6 pull-left">
    <button class="btn app-button btn-big"> Next </button>
  </div>
</div>
