body{
  background-color: #eeeff1;
  font-family: Hind;
}
.welcome-msg{
    width: 50%;
    text-align: center;
    margin: 50px auto;
    line-height: 0;
}
.welcome-msg .welcome-text{
       
}
.app-container{
    width:1230px;
    margin: 0 auto;
}
.app-button{background: #29a00a; color: #ffffff;}
